:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* START RESET */

html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  overflow: hidden;
  
}
body {
  width: 25em;
  height: 40em;
  background-color: rgb(41, 1, 74);
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: url('./stars-anime-copia.png');
  background-position-x: -29.5em;
  background-position-y: -.4em;
  background-position:right;
  background-size: cover;
  background-repeat:no-repeat;
  
  z-index: 1;
}
.bordes1 {
  border: solid white 3px;
  border-radius: 35px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.estilo_de_gotas {
  
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: white;
  filter: drop-shadow(30px -96px 2px rgb(178, 131, 241));
  z-index: 2;
  /* transform: rotate(45deg); */
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  place-content: center !important;
  color: red;
  width: 100px;
  height: 50px;
  background-color: #680389;
  font-size: large;
  font-weight: bold;
  color: white;
  font-size: xx-large;
  position: relative;
  z-index: 4;
}
.buttons:active {
  transform: scale(1.5);
}
.buttons span {
  width: 100%;
  height: 100%;
  text-align: center;
}
.container_of_buttons{
  
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: none;
  display:grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(2,1fr);
  place-items: end center;
  transform: scale(.6);
  transform: none;
  
 
}